pipeline/parent pipeline.json
{
	"name": "parent pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Source data ingestion onprem to ADLS",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline API Ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Source data ingestion onprem to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline SQL to ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline API Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "data sql to adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web call to Logic App-Failure Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline SQL to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-20.northcentralus.logic.azure.com:443/workflows/88ffb4cccef14405ae4238fa0f90bda5/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=lNgyaP8tZTpTZWdM7z8525qnyCmUXDpd9qJJC_SuKC4",
					"body": {
						"value": "{\n  \"pipeline_name\":\"@{pipeline().Pipeline}\",\n  \"run_id\":\"@{pipeline().RunId}\",\n  \"status\":\"@{activity('Execute Pipeline SQL to ADLS').Status}\",\n  \"error\" : \"@{if(equals(activity('Execute Pipeline SQL to ADLS').Status, 'Failed'), string(activity('Execute Pipeline SQL to ADLS').error), 'No error')}\"\n}\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					},
					{
						"file_name": "DimPassenger.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-09T07:55:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}